@media (min-width: 481px){
	.space-top{
		margin-top: 35vh;
	}
	.photo-style{
		position: relative;
		bottom: 80px;
		border: solid white 3px;
	}
}
@media (max-width: 480px){
	.min-space-top{
		margin-top: 5vh;
	}
	.photo-style{
		border: solid white 3px;
		margin-top: 5vh;
	}	
}

